fail_fast: false
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        pass_filenames: true
        language: system
        files: '^app/'
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        pass_filenames: true
        language: system
        files: '^app/'
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        pass_filenames: true
        language: system
        files: '^app/'